<VirtualHost *:80>
{% if osticket_httpd_servername is defined %}
    ServerName {{ osticket_httpd_servername }}
{% else %}
    ServerName osticket
{% endif %}
{% if osticket_httpd_serveralias is defined %}
{%   for alias in osticket_httpd_serveralias %}
    ServerAlias {{ alias }} 
{%   endfor %}
{% endif %}
{% if osticket_httpd_documentroot is defined %}
    DocumentRoot {{ osticket_httpd_documentroot }}
{% else %}
    DocumentRoot /usr/share/osTicket/htdocs
{% endif %}
{% if osticket_httpd_errorlog is defined %}
    ErrorLog logs/{{ osticket_httpd_errorlog }}
{% else %}
    ErrorLog logs/osticket-error_log
{% endif %}
{% if osticket_httpd_customlog is defined %}
    CustomLog logs/{{ osticket_httpd_customlog }} common
{% else %}
    CustomLog logs/osticket-access_log common
{% endif %}
{% if osticket_httpd_documentroot is defined %}
    <Directory "{{ osticket_httpd_documentroot }}">
{% else %}
    <Directory "/usr/share/osTicket/htdocs">
{% endif %}
        Options +FollowSymLinks
        AllowOverride All
        Order allow,deny
        Allow from all
    </Directory>
</VirtualHost>
